.box {
  width: 100%;
  height: 8000px;
  background: -moz-linear-gradient(top left, #fff, #ffc778);
  background: -webkit-linear-gradient(top left, #fff, #ffc778);
  background: linear-gradient(to bottom right, #fff, #ffc778);
}

